/* About me section */
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;700&display=swap');
#about_me {
  margin-top: 13%;
  margin-bottom: 20%;
  height: 20%;
  width: 75%;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  display: flex;
}

.head_right {
  font-family: 'Heebo', sans-serif;
}
.head_right h1 {
  margin: 0;
  font-weight: 600;
  font-size: 70px;
  line-height: 70px;
  color: var(--midnight-blue);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.head_right h1 .color_name{
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(97deg, #956bff, #5341ff 50%, #40d7ff);
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow: none;
  display: inline-block;
}


.head_right > p {
  margin-top: 2%;
  font-size: 20px;
  line-height: px;
  color: var(--boring-gray);
}

.head_right div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  
}


.head_right div button {
  /* background-color: var(--midnight-blue); */
  border: 3px solid var(--midnight-blue);
  background-color: var(--bg);
  border-radius: 10px;
  font-family: 'Heebo', sans-serif;
  font-size: 15px;
  height: 80px;
  width: 200px;
  transform: rotate(-4deg);
}

.head_right div button:hover {
  background-image: linear-gradient(97deg, #956bff, #5341ff 50%, #40d7ff);
}


.head_right div button:visited {
  background-image: linear-gradient(97deg, #956bff, #5341ff 50%, #40d7ff);
}


.head_left img {
  width: 400px;
  height: 60%;
}