

#main_content {
    display:flex;
    flex-direction:column;
    text-align: center;
    align-items:center;
}

#main_content h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 58px;
    line-height: 70px;
    color: #0B0C0C;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#main_content h1 b{
    padding: 30px 0 8px;
    position: relative;
    font-weight: 600;
    font-style:normal;
}


@media(min-width: 388px) {
#main_content h1 b::before {
    content: "";
    position: absolute;
    left: 7%;
    bottom: 16px;
    width: 150px;
    height: 14px;
    transform: skew(-12deg) translateX(-12%);
    background: #FCCC1C;
    z-index: -1;
}
}

#main_content p{
    margin: 0;
    width: 645px;
    height: 101px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #323433;
}

#main_content img{
    width: 48px;
    height: 48px;
}

.download_button {
    background-color: #FCCC1C;
    border: 0 solid #E5E7EB;
    box-sizing: border-box;
    color: #000000;
    display: flex;
    font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1.75rem;
    padding: .75rem 1.65rem;
    position: relative;
    text-align: center;
    text-decoration: none #000000 solid;
    text-decoration-thickness: auto;
    width: 100%;
    max-width: 200px;
    position: relative;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 32px;
}

.download_button:focus {
  outline: 0;
}

.download_button:after {
  content: '';
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.download_button:hover:after {
  bottom: 2px;
  left: 2px;
}


.download_button:active {
  background-color: #ffd84b;
    color: #000000;
  outline: 0;
}

@media (min-width: 200px) {
  .download_button {
    padding: .75rem 3rem;
    font-size: 1.25rem;
  }
}

@media (max-width: 768px) {
    #main_content p{
        max-width: 300px;
        padding-bottom: 40px;
    }
}
